/* Título */
.title {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #d500f9; /* Rosa fuerte (violeta vibrante) */
    text-transform: uppercase; /* Mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center; /* Centra el título */
    margin: 0 auto; /* Asegura que el título se mantenga centrado */
    margin-top: 5rem; /* Aumenta el espacio arriba del título */
}

/* Subtítulo */
.subtitle {
    font-size: 1.375rem;
    font-weight: 300;
    max-width: 600px;
    margin-bottom: 2.5rem;
    color: white; /* Gris oscuro para el subtítulo */
    line-height: 1.8;
    margin: 0 auto; /* Asegura que el subtítulo se mantenga centrado */
    letter-spacing: 1px;
    text-align: center; /* Centra el subtítulo */
    animation: slideIn 1s ease-out;
    margin-top: 2rem; /* Aumenta el espacio arriba del subtítulo */
}

/* Agregar animación al subtítulo */
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
